@import "../../styles/short";

main {
    height: 80vh;
    position: relative;
    .profile-area {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 80px;

        .texts{
            font-size: 24px;
            width: 320px;

            .name{
                color: #FFFFFF;
                h2{
                    font-weight: 500;

                    &:nth-child(2){
                        margin-left: 170px;
                    }
                }
            }
            .front{
                display: flex;
                align-items: center;
                flex-direction: column;
                .text-front{
                    background-image: linear-gradient(180deg, #1e6ddd 39.37%, rgba(91, 30, 221, 0.79) 79.98%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    filter: brightness(1.2);
                    &:hover{
                        filter:brightness(1.4);
                    }
                    letter-spacing: 8px;
                    font-weight: 500;
                    
                    &:nth-child(1){
                        margin-top: 50px;
                    }
                    &:nth-child(2){
                        margin-top: 10px;
                    }
                }
                
            }
        }
        
        .bg-profile {
            background: linear-gradient(180deg, #1e6ddd 39.37%, rgba(91, 30, 221, 0.79) 79.98%);
            width: 300px;
            height: 300px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(40deg);
            border-radius: 50%;

            img {
                transform: rotate(-40deg);
                width: 280px;
                height: 280px;
                border-radius: 50%;
                filter: brightness(1.2);
                &:hover{
                    filter: brightness(1.4);
                }
            }
        }
    }
}
.projects{
    color: #FFFFFF;
    margin-top: 200px;
    h2{
        @include title-area;
        margin-top: 50px;
    }
    .project{
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 100px;
        .proj{
            h3{
                a{
                    color: #FFFFFF;
                    text-decoration: none;
                    .imgBg{
                        width: 600px;
                        height: 400px;
                    }
                    #navbarImg{
                        height: 400px;
                    }
                    p{
                        width: 400px;
                        text-align: justify;
                    }
                }
            }
        }
    }

   
}
footer{
    position: absolute;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    
    p{
        color: #FFFFFF;
        span{
            img{
                position: relative;
                top: 7px;
                margin: 0px 2px;
            }
        }
    }
}
.waves{
    svg{
        position: absolute;
        bottom: 0;
        width: 100%;
        .waves{
            .wave-1{
                animation: moveWave1 ease-in-out 4s alternate infinite;
                animation-delay: 2s;
            }
            .wave-2{
                animation: moveWave2 ease-in-out 4s alternate infinite;
                animation-delay: 4s;
            }
            .wave-3{
                animation: moveWave3 ease-in-out 4s alternate infinite;
                animation-delay: 1s;
            }
        }
    }
}

@keyframes moveWave1{
    100%{
        transform: translateX(-150px);
    }
}

@keyframes moveWave2{
    100%{
        transform: translateX(-250px);
    }
}

@keyframes moveWave3{
    100%{
        transform: translateX(-300px);
    }
}