main {
    text-align: center;
    .section {
        &__home {
            width: 100%;
            // position: relative;
            @include breakpoint-min(medium) {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 5.2rem;
            }

            .bg__profile {
                @include breakpoint-max(medium) {
                    position: absolute;
                    top: 4rem;
                    right: 12.4rem;
                }
                @include breakpoint-max(little){
                    right: 2rem;
                }
                @include breakpoint-minmax(xsmall, little){
                    right: 10%;
                }
                
                .bg__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: $bg--gradient;
                    width: 20rem;
                    height: 20rem;
                    @include breakpoint-max(medium) {
                        width: 14rem;
                        height: 14rem;
                    }

                    img {
                        @include breakpoint-max(medium) {
                            width: 12rem;
                            height: 12rem;
                        }
                        width: 18rem;
                        height: 18rem;
                        border-radius: 50%;
                        transition: filter 300ms ease-in-out;
                        &:hover {
                            filter: brightness(1.2);
                        }
                    }
                }
            }

            .my__infos {
                @include breakpoint-min(medium) {
                    display: flex;
                    flex-direction: column;
                    gap: 10rem;
                }

                @include breakpoint-max(medium) {
                    margin-top: 14rem;
                }

                .infos {
                    &__name {
                        @include breakpoint-min(medium) {
                            position: relative;
                        }
                        .h2__name {
                            @include breakpoint-min(medium) {
                                position: absolute;
                                &:nth-child(2) {
                                    top: 5rem;
                                    left: 8rem;
                                }
                            }
                        }
                    }
                    &__front {
                        .text__front {
                            font-size: 2rem;
                            line-height: 3rem;
                            letter-spacing: 1rem;
                            font-weight: 600;
                            background-image: $bg--gradient;
                            background-clip: text;
                            color: transparent;
                            background-position: center center;
                            transition: filter 300ms ease-in-out;

                            &:hover {
                                filter: brightness(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

.dev__infos{
    text-align: center;
    background-color: $bg--footer;
    padding: 2rem;
    font-size: 1.2rem;
    color: $white;

    p{
        display: flex;
        justify-content: center;
        gap: 0.2remyarn;
    }
}