.contact {
    margin-top: 2rem;
    &__icons {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        gap: 4rem;

        @include breakpoint-max(medium) {
            gap: 1rem;
        }

        .icon__contact {
            background-color: $dark;
            padding: 2rem;
            border-radius: 2rem;
            transition: filter 200ms ease-in-out;

            img {
                width: 7rem;
                height: 7rem;
                @include breakpoint-max(medium) {
                    width: 4rem;
                    height: 4rem;
                }
            }

            &:hover{
                filter: brightness(0.2);
            }
        }
    }
}
